.bg-light.py-5.my-2
  %h2.text-center.text-primary= t('.pacient_card', name: @pacient.name)
.mb-4
  .row.justify-content-md-center
    .col-12.text-center
      %h3= t('.appointments')
      = render 'pacient_appointments', appointments: @appointments
    - if @pagy.pages > 1
      .col-10.justify-content-center.pagination
        != pagy_bootstrap_nav @pagy