%h2.text-center.my-5.text-primary= (@category.title if @category) || t('.all_categories')
.mb-4
  .row#doctors_table
    = render 'doctors_table', doctors: @doctors
  - if @pagy.pages > 1
    .text-center#div_next_link
      = render 'next_page_button', pagy: @pagy