.row.bg-light.py-5.my-2.justify-content-md-center
  .col-10
    %h2.text-center.text-primary= (@category.title if @category) || t('.all_categories')
.mb-4
  .row.justify-content-center.bg-light#doctors_table
    .col-10
      - @doctors.each do |doctor|
        = render 'doctors/doctor_card', doctor: doctor
  - if @pagy.pages > 1
    .text-center#div_next_link
      = render 'next_page_button', pagy: @pagy