 .form-signin {
  max-width: 330px;
  padding: 15px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="phone-number"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin-password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup-field {
  border-radius: 0;
}